In [ ]:
import pandas as pd 
import gc

In [2]:
merged=pd.read_csv('final3.csv',dtype={'sales':'float32',  'wm_yr_wk':'float32', 'wday':'float32', 'month':'float32',
       'snap_CA':'float32', 'snap_TX':'float32', 'snap_WI':'float32', 'sell_price':'float32'},nrows=10_000_000)

/tmp/ipykernel_4947/2029329615.py:1: DtypeWarning: Columns (13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  merged=pd.read_csv('final3.csv',dtype={'sales':'float32',  'wm_yr_wk':'float32', 'wday':'float32', 'month':'float32',

In [ ]:
tot = 0 
i = 0 
for chk in merged : 
    tot+=chk.shape[0]
    i+=chk['sell_price'].isnull().sum()

In [7]:
print('i :' ,i )
print('tot :', tot )

i : 12299413
tot : 58327370

In [15]:
print(f"match rate : {(tot-i)/tot :.3f}%")

match rate : 0.789%

almost 79% match rate between the first merged dataset and the sell dataset , which is good , we can fill these null values later

In [16]:
chk.head()

,id,item_id,dept_id,cat_id,store_id,state_id,day,sales,date,wm_yr_wk,...,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
58000000,FOODS_2_095_CA_3_validation,FOODS_2_095,FOODS_2,FOODS,CA_3,CA,d_1903,3.0,2016-04-14,11611.0,...,2016,d_1903,NaN,NaN,NaN,NaN,0.0,0.0,1.0,4.42
58000001,FOODS_2_096_CA_3_validation,FOODS_2_096,FOODS_2,FOODS,CA_3,CA,d_1903,0.0,2016-04-14,11611.0,...,2016,d_1903,NaN,NaN,NaN,NaN,0.0,0.0,1.0,7.98
58000002,FOODS_2_097_CA_3_validation,FOODS_2_097,FOODS_2,FOODS,CA_3,CA,d_1903,0.0,2016-04-14,11611.0,...,2016,d_1903,NaN,NaN,NaN,NaN,0.0,0.0,1.0,6.98
58000003,FOODS_2_099_CA_3_validation,FOODS_2_099,FOODS_2,FOODS,CA_3,CA,d_1903,4.0,2016-04-14,11611.0,...,2016,d_1903,NaN,NaN,NaN,NaN,0.0,0.0,1.0,2.00
58000004,FOODS_2_100_CA_3_validation,FOODS_2_100,FOODS_2,FOODS,CA_3,CA,d_1903,0.0,2016-04-14,11611.0,...,2016,d_1903,NaN,NaN,NaN,NaN,0.0,0.0,1.0,2.50

In [5]:
del chk 
gc.collect()

0

In [ ]:
# since the dataset is too big we have to manually analyze it chunk by chunk

In [3]:
import dask.dataframe as dd

In [2]:
import dask.dataframe as dd

df = dd.read_csv('final.csv', 
                 dtype={'event_name_1': 'object',
                        'event_type_1': 'object'})

In [3]:
import pandas as pd 

# allow displaying all rows and columns in pandas outputs (uses pandas imported in earlier cell)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [4]:
df=pd.read_csv('final3.csv',nrows=1_000_000)

/tmp/ipykernel_27683/1086383252.py:1: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('final3.csv',nrows=1_000_000)

In [6]:
df['weekday'].unique()

array(['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday'], dtype=object)

In [ ]:
df['d'].nunique()
df.drop('d')
df.to_csv()

33

In [15]:
df.tail()

,item_id,dept_id,cat_id,store_id,state_id,sales,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
999995,FOODS_3_751,FOODS_3,FOODS,WI_1,WI,0,2011-03-02,11105,Wednesday,5,3,2011,d_33,NaN,NaN,NaN,NaN,1,0,1,NaN
999996,FOODS_3_752,FOODS_3,FOODS,WI_1,WI,8,2011-03-02,11105,Wednesday,5,3,2011,d_33,NaN,NaN,NaN,NaN,1,0,1,0.20
999997,FOODS_3_753,FOODS_3,FOODS,WI_1,WI,1,2011-03-02,11105,Wednesday,5,3,2011,d_33,NaN,NaN,NaN,NaN,1,0,1,5.98
999998,FOODS_3_754,FOODS_3,FOODS,WI_1,WI,0,2011-03-02,11105,Wednesday,5,3,2011,d_33,NaN,NaN,NaN,NaN,1,0,1,NaN
999999,FOODS_3_755,FOODS_3,FOODS,WI_1,WI,2,2011-03-02,11105,Wednesday,5,3,2011,d_33,NaN,NaN,NaN,NaN,1,0,1,1.18

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10 non-null     object
 1   item_id       10 non-null     object
 2   dept_id       10 non-null     object
 3   cat_id        10 non-null     object
 4   store_id      10 non-null     object
 5   state_id      10 non-null     object
 6   day           10 non-null     object
 7   sales         10 non-null     int64
 8   date          10 non-null     object
 9   wm_yr_wk      10 non-null     int64
 10  weekday       10 non-null     object
 11  wday          10 non-null     int64
 12  month         10 non-null     int64
 13  year          10 non-null     int64
 14  d             10 non-null     object
 15  event_name_1  0 non-null      float64
 16  event_type_1  0 non-null      float64
 17  event_name_2  0 non-null      float64
 18  event_type_2  0 non-null      float64
 19  snap_CA       10 non-null     int64
 20  snap_TX       10 non-null     int64
 21  snap_WI       10 non-null     int64
 22  sell_price    3 non-null      float64
dtypes: float64(5), int64(8), object(10)
memory usage: 1.9+ KB

- we need to optimize this dataframe in order to load it fully into the RAM 
- for that i will try to minimize the object-typed colunms , which are mainly strings here 
- i will be converting (encoding) them from strings to numbers 
because strings use up to 10 times more the storage when loading with pandas , because they are treated as python objects , unlike numbers which are treated as numpy arrays

In [2]:
import numpy as np
#cyclical encoding of days 

mp={
    'Saturday':5,
    'Sunday':6, 
    'Monday':0,
    'Tuesday':1,
    'Wednesday':2,
    'Thursday':3,
    'Friday':4,
    
}
frst=True 
i=1
for chk in pd.read_csv('final3.csv',chunksize=1_000_000): 
    
    print(f'{i*1000000} chunks processed')
    i+=1 

    chk['weekday']=chk['weekday'].map(mp)
    chk['weekday_sin']=np.sin(2*np.pi*(chk['weekday']/7))
    chk['weekday_cos']=np.cos(2*np.pi*(chk['weekday']/7))

    chk.drop('weekday',inplace=True,axis=1)
    chk.to_csv('final4.csv',index=False,mode='a',header=frst)
    frst=False
    
    del chk

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

1000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

2000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

3000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

4000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

5000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

6000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

7000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

8000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

9000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

10000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

11000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

12000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

13000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

14000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

15000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

16000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

17000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

18000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

19000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

20000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

21000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

22000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

23000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

24000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

25000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

26000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

27000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

28000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

29000000 chunks processed
30000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

31000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

32000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

33000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

34000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

35000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

36000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

37000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

38000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

39000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

40000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

41000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

42000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

43000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

44000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

45000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

46000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

47000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

48000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

49000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

50000000 chunks processed
51000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

52000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

53000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

54000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

55000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

56000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

57000000 chunks processed

/tmp/ipykernel_28947/615145689.py:16: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final3.csv',chunksize=1_000_000):

58000000 chunks processed
59000000 chunks processed

In [10]:
import gc 

gc.collect()

60

In [8]:
print(np.sin(10*np.pi/7))

-0.9749279121818236

In [9]:
df=pd.read_csv('final4.csv',nrows=100)
df.tail()

,item_id,dept_id,cat_id,store_id,state_id,sales,date,wm_yr_wk,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,weekday_sin,weekday_cos
95,HOBBIES_1_099,HOBBIES_1,HOBBIES,CA_1,CA,2,2011-01-29,11101,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,14.26,-0.974928,-0.222521
96,HOBBIES_1_100,HOBBIES_1,HOBBIES,CA_1,CA,1,2011-01-29,11101,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,10.00,-0.974928,-0.222521
97,HOBBIES_1_102,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,NaN,-0.974928,-0.222521
98,HOBBIES_1_103,HOBBIES_1,HOBBIES,CA_1,CA,25,2011-01-29,11101,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,0.70,-0.974928,-0.222521
99,HOBBIES_1_104,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0,NaN,-0.974928,-0.222521

In [11]:
#remove the d_ from the column d to make it a number 

fst=True 
i=1 
for chk in pd.read_csv('final4.csv',chunksize=5_000_000): 
    print(f'{i*5000000} chucks processed')
    i+=1 
    chk['d']=chk['d'].str[2:].astype(int)
    chk.to_csv('final5.csv',header=fst,index=False,mode='a')
    fst=False 
    del chk

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

/tmp/ipykernel_28947/3890736309.py:5: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chk in pd.read_csv('final4.csv',chunksize=5_000_000):

5000000 chucks processed

In [14]:
df=pd.read_csv('final5.csv',nrows=12)
df.head()

,item_id,dept_id,cat_id,store_id,state_id,sales,date,wm_yr_wk,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price,weekday_sin,weekday_cos
0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,1,1,2011,1,NaN,NaN,NaN,NaN,0,0,0,NaN,-0.974928,-0.222521
1,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,1,1,2011,1,NaN,NaN,NaN,NaN,0,0,0,NaN,-0.974928,-0.222521
2,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,1,1,2011,1,NaN,NaN,NaN,NaN,0,0,0,NaN,-0.974928,-0.222521
3,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,1,1,2011,1,NaN,NaN,NaN,NaN,0,0,0,NaN,-0.974928,-0.222521
4,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,2011-01-29,11101,1,1,2011,1,NaN,NaN,NaN,NaN,0,0,0,NaN,-0.974928,-0.222521

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_id       12 non-null     object
 1   dept_id       12 non-null     object
 2   cat_id        12 non-null     object
 3   store_id      12 non-null     object
 4   state_id      12 non-null     object
 5   sales         12 non-null     int64
 6   date          12 non-null     object
 7   wm_yr_wk      12 non-null     int64
 8   wday          12 non-null     int64
 9   month         12 non-null     int64
 10  year          12 non-null     int64
 11  d             12 non-null     int64
 12  event_name_1  0 non-null      float64
 13  event_type_1  0 non-null      float64
 14  event_name_2  0 non-null      float64
 15  event_type_2  0 non-null      float64
 16  snap_CA       12 non-null     int64
 17  snap_TX       12 non-null     int64
 18  snap_WI       12 non-null     int64
 19  sell_price    4 non-null      float64
 20  weekday_sin   12 non-null     float64
 21  weekday_cos   12 non-null     float64
dtypes: float64(7), int64(9), object(6)
memory usage: 2.2+ KB

In [16]:
df=pd.read_csv('../data/sales_train_validation.csv')

In [18]:
df['cat_id'].unique()

array(['HOBBIES', 'HOUSEHOLD', 'FOODS'], dtype=object)

In [19]:
df['dept_id'].unique()

array(['HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2', 'FOODS_1',
       'FOODS_2', 'FOODS_3'], dtype=object)

In [20]:
df['store_id'].unique()

array(['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1',
       'WI_2', 'WI_3'], dtype=object)